.banner {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 12px var(--spacing-8);
  color: var(--off-black);
  border-bottom: 0.5px solid var(--off-black);
  background-color: var(--off-white);
  overflow: hidden;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.flag {
  flex-shrink: 0;
  margin-right: 12px;
  height: 12px;
  width: 20px;
}

.text {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

@media (max-width: 900px) {
  .content {
    font-size: 10px;
  }
}

@media (max-width: 417px) {
  .text {
    flex-direction: column;
    align-items: flex-start;
  }
}

