20230903_travelTime/node_modules/
*.json
*.geojson
*.csv
*.pyc
.DS_Store
20240517_SAM/sam_vit_h_4b8939.pth
*.onnx
*.JPG
*.jpeg
*.gif
*.mp4
*.ttf
*.zip
*.PNG
*.env
/20240928_Twitter_API/node_modules
*.txt
*.wmv
*.mp3

# track extension icons
!20241017_tree_history/icons/active_*.png
!20241017_tree_history/icons/inactive_*.png
!20241017_tree_history/popup/icons/active_*.png
!20241017_tree_history/popup/icons/inactive_*.png
/20240517_SAM/sam2
*.mov
*.dxf
*.gds
*.DS_Store
*.asv
20250108_arduino/connect_wifi/connect_wifi.ino
20250108_arduino/connect_wifi/config.h
20250108_arduino/wearable_camera/config.h
/20250328_PIC_torch/runs
*.3mf
/20250506_youtube2slides/node_modules
/20250518_RAG_COMSOL/rag-env
/20250518_RAG_COMSOL/chroma_db
/20250518_RAG_COMSOL/rag-env2
/20250518_RAG_COMSOL/skypilot
/20250518_RAG_COMSOL/faiss
*.pdf
*.npy
*.index
*.docx
*.pptx
*.xlsx
*.doc
*.ppt
*.xls
.ipynb_checkpoints

# Virtual environments
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/
**/venv/
**/env/
**/.venv/
**/.env/
*.wav
*.mp3
*.mph
*/test_docs/*

*/node_modules/*
20250621_MCPxScience/build/*

*.log
*/log/*
*.jsonl
*.bak
20250702_docling_test/extracted_pages_*.md
20250908_LLM_learning/*.pt
