20230903_travelTime/node_modules/
*.json
*.geojson
*.csv
*.pyc
.DS_Store
20240517_SAM/sam_vit_h_4b8939.pth
*.onnx
*.JPG
*.jpeg
*.gif
*.mp4
*.ttf
*.zip
*.PNG
*.env
/20240928_Twitter_API/node_modules
*.txt
