20230903_travelTime/node_modules/
*.json
*.geojson
*.csv
*.pyc
.DS_Store
20240517_SAM/sam_vit_h_4b8939.pth
*.onnx
*.JPG
*.jpeg
*.gif
*.mp4
*.ttf
*.zip
*.PNG
*.env
/20240928_Twitter_API/node_modules
*.txt
*.wmv
*.mp3

# track extension icons
!20241017_tree_history/icons/active_*.png
!20241017_tree_history/icons/inactive_*.png
!20241017_tree_history/popup/icons/active_*.png
!20241017_tree_history/popup/icons/inactive_*.png
/20240517_SAM/sam2
*.mov
*.dxf
*.gds
*.DS_Store
*.asv
20250108_arduino/connect_wifi/connect_wifi.ino
20250108_arduino/connect_wifi/config.h
20250108_arduino/wearable_camera/config.h
