.section {
  position: relative;
  width: 100%;
}

.section.dark {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.section.fullHeight {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

